<div class="flex flex-col gap-y-1 text-gray-500">
    {{ if .Params.date -}}
    <div class="flex gap-x-1">
        {{ partial "icons.html" "calendar" }}
        <span class="italic">
            {{ .Params.date.Format "Jan 2, 2006" }}
            {{ if not (eq .Params.lastmod .Params.date) -}}
            &bull;
            edited: {{ .Params.lastmod.Format "January 2, 2006" }}
            {{- end }}
        </span>
    </div>
    {{- end }}
    <div class="flex gap-x-1">
        {{ partial "icons.html" "clock" }}
        <span class="italic">
            {{ .ReadingTime }} min{{ if not (eq .ReadingTime 1) }}s{{ end }}
        </span>
    </div>
</div>
